<script id="imperative-person-widget-template" type="text/x-handlebars-template">
  <div class="person-widget-cont">
    <p class="name">Name: {{name}}</p>

    <p>Age: {{age}}</p>
    <button class="btn">Click me!</button>
  </div>
</script>
