<script id="person-widget-template" type="text/x-handlebars-template">
  <div class="person-widget-cont">
    <p data-attach-point="$nameNode">Name: {{name}}</p>

    <p>Age: {{age}}</p>
  </div>
</script>
